<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ODRL Extractor</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/mermaid@10.8.0/dist/mermaid.esm.min.mjs"></script>
  </head>
  <body>
    <h1>ODRL Extractor</h1>

    <!-- Formulário para extrair Business Units -->
    <form id="extractForm" method="post" action="/odlr">
      <label for="input_text">Input ODRL Specification:</label>
      <textarea id="input_text" name="input_text" rows="10" cols="80"></textarea>
      <br>
      <button type="submit">Extract Business Units</button>
    </form>

    <!-- Área de saída para exibir o resultado -->
    <h2>Output:</h2>
    <pre>{{ output_text }}</pre>
  </body>
</html>
